<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
</head>
<body>
    
    <div id="main">
        <div id="app"></div>
    </div>

    <script src="{% static 'reactFront/main.js' %}"></script>
</body>
</html>